<%- include('header') %>

    <form method="GET" action="/cotacao">
        <input name="cotacao" placeholder="Cotação dolar" value="<%= cotacao %>" onkeyup="somenteNumeros(this);"><br>
        <input name="quantidade" placeholder="Quantidade de dolares" onkeyup="somenteNumeros(this);"><br>
        <button>Converter!</button>
    </form>
</div>
<%- include('footer') %>

<script>
        function somenteNumeros(num) {
            var er = /[^0-9.]/;
            er.lastIndex = 0;
            var campo = num;
            if (er.test(campo.value)) {
                campo.value = "";
            }
        }
</script>