h1 img{
    width: 489px;
    border: 4px solid black; 
    background: #fdfdfd;
}

.box, .pure-u-1-3{
    border: 5px solid green;
    display: inline-block;
    padding: 20px;
    margin-inline: 50px;
    margin-top: 50px;
}

head{
    text-align: center
}

body{

}

label{
    align-content: center;
}

/*inline e block*/
input{
    display: inline-block;
    padding: 10px;
    margin-block: 2px;
    font-size: 20px;
    border: 1px solid black;
    background: #ffffff;
}

button{
    background: #d8d8d8;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    margin-block: 2px;
}

.result{
    padding: 10px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;

}
/*responsividade*/
@media (min-width: 768px){
    .result{
        background: red;
    }
}

/* 
div.result{
    padding: 10px;
    margin: 0;
    border: 2px solid black;
    background: #fdfdfd;
} */ */

/*
.box{
    background: green;
    padding: 20px;
    border: 4px solid red;
    margin: 40px;
}

.box span{
    background: white;
    border: solid red;
}
*/

/* All kinds of button
    button, input[type="button"], input[type="submit"] { 
    color:#050; 
    font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#fed; 
    border:1px solid; 
    border-color: #696 #363 #363 #696; 
} */