h1 img{
    width: 489px;
    border: 1px solid red;
}

body{
    text-align: center
}
label{
    align-content: center;
}

input{
    display: inline-block;
    padding: 10px;
    margin-block: 2px;
    font-size: 20px;
    border: 1px solid black;
    background: #ffffff;
}

button{
    background: #d8d8d8;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    margin-block: 2px;
}

.result{
    padding: 10px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;

}

/* All kinds of button
    button, input[type="button"], input[type="submit"] { 
    color:#050; 
    font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#fed; 
    border:1px solid; 
    border-color: #696 #363 #363 #696; 
} 
*/